PORT=3000
MONGODB_URI=mongodb+srv://duongvantiendtu:TYQsx16LoRuXuNAp@cluster-japano.fyrcrsk.mongodb.net/backend-bus
JWT_SECRET=your-super-secret-key-change-in-production
JWT_EXPIRES_IN=7d

# Resend - gửi OTP qua email (https://resend.com)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=duongvantien.cse@gmail.com
SMTP_PASS=poks wfft jbox hpju
FROM_EMAIL=Smart Bus Support <duongvantien.cse@gmail.com>
